<div class="container-wrap">
    <div class="title-sec">
        <div class="w-80">
            <h6>Proyecto GAPSI</h6>
            <span class="f-h5"><strong>Proveedor</strong></span>
        </div>
        <div class="w-80 alig-right-l">
            <button mat-raised-button color="primary" class="primary-red m-t-16 m-b-10" (click)="newDealer()">Nuevo
                proveedor</button>
        </div>
    </div>

    <div class="card" [hidden]="showList">
        <span class="title-card"></span>
        <div class="d-flex">

            <form class="example-form">
                <mat-form-field class="w-p-95">
                    <mat-label>Nombre del proveedor</mat-label>
                    <input matInput placeholder="Escribe el nombre" [(ngModel)]="proveedor.name" name="name"
                        required>
                </mat-form-field>
                <mat-form-field class="w-p-95">
                    <mat-label>Nombre la dirección del proovedor</mat-label>
                    <input matInput placeholder="Escribe la dirección" [(ngModel)]="proveedor.addres" name="addres"
                        required>
                </mat-form-field>
                <mat-form-field class="w-p-95">
                    <mat-label>Año de alta</mat-label>
                    <input matInput placeholder="Escribe el año" [(ngModel)]="proveedor.year" name="year"
                        required>
                </mat-form-field>
            </form>

        </div>
        <hr>
        <section>
            <div class="example-button-row">
                <button mat-raised-button color="warn" (click)="returnToList()">Cancelar</button>
                <button mat-raised-button color="accent" (click)="cleanDealer()">Limpiar</button>
                <button mat-raised-button color="primary" [disabled]="!validaObligatorios(proveedor)" (click)="saveDealer()">Registrar</button>
            </div>
        </section>
    </div>

    <div class="card" [hidden]="!showList">
        <span class="title-card">Lista de proveedor</span>
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
        <div class="sec-table">
            <table mat-table [dataSource]="dataSource" class=" full-width" matSort>
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
                <ng-container matColumnDef="addres">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.addres}} </td>
                </ng-container>
                <ng-container matColumnDef="year">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
                    <td mat-cell *matCellDef="let element"> {{element.year}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
                            (click)="editDealer(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>&nbsp;
                        <button mat-mini-fab color="warn" aria-label="Example icon button with a home icon"
                            (click)="deleteDealer(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
    </div>
</div>